<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AMS_Project</display-name>
  <welcome-file-list>
    <welcome-file>Adminloginsuccess.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlatRegistrationController</display-name>
    <servlet-name>FlatRegistrationController</servlet-name>
    <servlet-class>com.ams.controller.FlatRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlatRegistrationController</servlet-name>
    <url-pattern>/FlatRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ams.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.ams.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pay3Controller</display-name>
    <servlet-name>Pay3Controller</servlet-name>
    <servlet-class>com.ams.controller.Pay3Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pay3Controller</servlet-name>
    <url-pattern>/Pay3Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectController</display-name>
    <servlet-name>RedirectController</servlet-name>
    <servlet-class>com.ams.controller.RedirectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectController</servlet-name>
    <url-pattern>/RedirectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentController</display-name>
    <servlet-name>RentController</servlet-name>
    <servlet-class>com.ams.controller.RentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentController</servlet-name>
    <url-pattern>/RentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchApartmentController</display-name>
    <servlet-name>SearchApartmentController</servlet-name>
    <servlet-class>com.ams.controller.SearchApartmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchApartmentController</servlet-name>
    <url-pattern>/SearchApartmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.ams.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseHouseController</display-name>
    <servlet-name>ChooseHouseController</servlet-name>
    <servlet-class>com.ams.controller.ChooseHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseHouseController</servlet-name>
    <url-pattern>/ChooseHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TenantRegisterController</display-name>
    <servlet-name>TenantRegisterController</servlet-name>
    <servlet-class>com.ams.controller.TenantRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenantRegisterController</servlet-name>
    <url-pattern>/TenantRegisterController</url-pattern>
  </servlet-mapping>
</web-app>